<div class="user-panel">
  <!-- <div class="pull-left image">
    <h5 style="color:white">Executive Information System</h5>
  </div> -->
  <div class="pull-left info">
    <!-- <p>Executive Information System</p> -->
    <!-- <a href="#"><i class="fa fa-circle text-success"></i> Online</a> -->
  </div>
</div>
<form action="#" method="get" class="sidebar-form">
  <div class="input-group">
    <!-- <input type="text" name="q" class="form-control" placeholder="Search..."> -->
    <span class="input-group-btn">
      <h5 style="color:white ; text-align: center">Executive Information System</h5>
    </span>
  </div>
</form>
